/* Write your CSS here */
.main-container {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.balance-container {
  display: flex;
  padding: 20px;
  background-color: #ecfccb;
  border: 1px solid #84cc16;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  width: 350px;
}
.income-container {
  display: flex;
  padding: 20px;
  background-color: #cffafe;
  border: 1px solid #06b6d4;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  width: 350px;
}
.expenses-container {
  display: flex;
  padding: 20px;
  background-color: #ede9fe;
  border: 1px solid #7c3aed;
  border-radius: 10px;
  width: 350px;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.icon {
  width: 45px;
  height: 45px;
}
.balance {
  color: #475569;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-left: 20px;
  margin-top: 40px;
}
.zero {
  color: #475569;
  font-size: 26px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-left: 20px;
  margin-top: -10px;
}
